+<!-- Precis samma mall som base html fast det som finns under block överskrivs-->

{% block content %}
<form method="GET">
    <h3 align="center">Kommentera</h3>
    <div class="form-group">
        <label for="comment">kommentar</label>
        <input type="text" class="form-control" id="comment" name="comment" placeholder="skriv en kommentar"/>
        <label for="rating">rating</label>
        <input type="text" class="form-control" id="rating" name="rating" placeholder="skriv en rating från 1-5"/>
        <input type="submit" name="save" value="save post">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}