{% extends "base.html" %} {% block title%}{% for columns in rows %}{{columns[2]}}{% endfor %}{% endblock %}

{% block content %}
<div class="container h-100">
    {% for columns in rows %}
    <!-- Går igenom alla tabeller i listan -->
      {% if columns[1] == productid %}
      <!-- if sats som kollar så att id i db är detsamma som id på URL -->
        <div class="row align-items-center h-100">
            <div class="col-6 mx-auto">
                <div class="card h-100 border-primary justify-content-center">
                    <div>
                      <img src="{{columns[5]}}" class="card-img-top" alt="..." style="width: 18rem;">
                      <div class="card-body">
                    <div class="row">
                      <h5 class="card-title">{{columns[2]}}</h5>
                      <p class="card-text">{{columns[25]}}</p>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <div>
    <input type="text" id="comment-box" placeholder="Enter comment">
    <button> <a href="/comments" class="btn btn-info opacity-80 btn-lg">posta</a> </button>
    <ul id="unordered">
  </div>

{% endblock %}


