{% extends "base.html" %} {% block title%}World Wine Web{% endblock %}

{% block content %}
<div id="jumbo"> <h2> WorldWineWeb </h2> </div>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      
    </div>
    <div class="col">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title">Välkomna</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
            optio, eaque rerum! Provident similique accusantium nemo autem.</p>
          <h3>Vad vill du göra idag?</h3>
          <a class="btn btn-primary" href="/products" role="button">Se alla drycker</a>
          <a class="btn btn-primary" href="https://www.systembolaget.se/" target="_blank" role="button">Handla online</a>
          <a class="btn btn-primary" href="/omoss" role="button">Om oss</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      
    </div>
  </div>
</div>

{% endblock %}