{% extends "base.html" %} {% block title%}Om oss{% endblock %}

{% block content %}
<div id="jumbo"> <h2> Om oss </h2> </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/static/images/Chris.jpg" class="img-fluid rounded-start" alt="Bild på Christopher">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Christopher Mols</h5>
                      <p class="card-text">Jag är 23 år gammal och pluggar till informationsarkitet på Malmö Universitet. Min favorit kurs har varit introduktion till webbutveckling med Anton Tibblin. I min fritid gillar jag att spela dataspel, spela golf, hänga med familj och vänner!</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="Bild på Klaudia">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Klaudia Kazimierski</h5>
                      <p class="card-text">Jag är 20 år gammal och pluggar till informationsarkitet på Malmö Universitet. Min favorit kurs är databasteknik! Jag gillar att spendera tid med mina vänner, familj och kolla skräckfilmer.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/static/images/Azam.jpg" class="img-fluid rounded-start" alt="Bild på Azam">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Azam Suleiman</h5>
                      <p class="card-text">Jag är 29 år gammal och pluggar till systemutvecklare på Malmö Universitet. Jag gillar Java och databashantering. Min största hobby är att arbeta på café och tjuvlyssna på andras konversationer.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="Bild på Nima">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Nima Faghihi</h5>
                      <p class="card-text">Jag är 22 år gammal och pluggar andra året som IA student på Malmö Universitet. Jag gillar att åka sparkcyckel och odla mitt vackra skägg.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/static/images/jakobbild.jpg" class="img-fluid rounded-start" alt="Bild på Jakob">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Jakob Wind</h5>
                      <p class="card-text">Jag är 24 år gammal och pluggar till informationsarkitet på Malmö Universitet. Min favorit kurs har varit datavetenskap. Jag gillar att spela dataspel och träna!</p>
                    </div>
                  </div>
                </div>
              </div>
{% endblock %}

