#bg{
    background-image: url(images/ice_cubes.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#jumbo{
    height:300px;
    background-image: url(images/glasses.jpg);
    padding-top: 50px;
    background-position: center;
    background-size: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 15px #ffffff;
}

#jumbo >h2 {
    text-align: center;
    font-size: 48px;
    padding-bottom: 5px;
    color: aliceblue;
}
#detailed_jumbo{
    height:200px;
    background-image: url(images/black_smoke.jpg);
    padding-top: 50px;
    background-position: center;
    background-size: 100%;
    
    color: rgb(182, 215, 251);
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile_icon{
    height: 30px;
    width: 30px;
    margin: 5px;
    cursor: pointer;
}

#search_tab_container{
    padding-left: 15px;
    padding-right: 15px;
}

#all_products_display{
    margin:auto;
    max-width: 1200px;
    justify-self: center;
    display: flexbox;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
}
#product_image{
    max-height: 200px;
}
#product_desc{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100px;
    max-height: 100px;
    font-size: 14px;

    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
#details_btn{
    background-color:#212224;
    border: 2px solid #0051ff;
    width: 100%;
}
#main_product_container{
    margin: auto;
    display: flex;
    width:800px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 15px rgb(82, 166, 255);


}
#main_prod_desc{
    display: block;
    padding: 25px;
}
#main_prod_img{
    height: 400px;
    display: block;
}
#product_card{
    margin: 15px 15px 15px 15px;
    box-shadow: 0px 0px 5px #7b8598;
    max-height: 420px;
    min-height: 420px;
}
#parent_nav{
    width: 100%;
    display: flex;
    justify-content: center;
}
.search_btn{
    border-radius: 10px;
    border: none;
    background-color: #212224;
    color: white;
    width: 130px;
}
#age_control_container{
    width: 500px;
    padding-inline: 50px;
    margin: auto;
}
/*
@media screen and (min-width:800px){
    .nav_container{
        margin-bottom: -20px;
        padding-bottom: 10px;
        
        width: 100%;
    
    }
    #web_logo{
        width: 100px;
        height: 100px;
        margin-top: -15px;
    }
} */
.card-title{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: aliceblue;
    width: 330%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #212224;
  }

.nav_container{
    margin-bottom: -20px;
    padding-bottom: 10px;
    
    width: 85%;
    display: flex;
    justify-content: center;

}
#nav_air{
    width: 10%;
}
#web_logo{
    width: 130px;
    height: 130px;
    margin-top: -15px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
    padding: 10px;
}

.card{
    padding: 10px;
    margin-top: 5rem;
    margin-left: 5rem;
    float: left;
}

footer{
    float: left;
    width: 100%;
    margin-top: 5rem;
    background-color: #212224;
    color: aliceblue;
    justify-content: center;
}