<!DOCTYPE html>
<html lang = "sv">
    <head>
        <meta charset="utf-8">
        <title>World Wine Web</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="static/style.css" rel="stylesheet">
      </head>
   
    <body>
        <main>



            <div class="container ">
                <div class="d-flex justify-content-center align-items-center vh-100">
                    <div class="card bg-light text-dark text-center">
                        <img src="" class="card-img-top" alt="...">
                      
                        <div class="card-body">
                          <h5 class="card-title">Ålderskontroll</h5>
                          <p class="card-text">Vänligen välj ett alternativ och kontrollera att du är över 20 år gammal.</p>
                            <a href="index.html" class="btn btn-info opacity-80 btn-lg">Jag är över 20</a>
                            <a href="decline.html" class="btn btn-danger opacity-80 btn-lg">Jag är inte över 20</a>
                        </div>
                        <div class="card-footer bg-light text-light">
                            <a href=#>Läs mer om våra vilkor.</a>
                        </div>
                    </div>
                </div>
            </div>
              
        </main>             
    </body>
</html>