

<!-- Precis samma mall som base html fast det som finns under block överskrivs-->
{% extends "index.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Kommentera</h3>
    <div class="form-group">
        <label for="kommentar">kommentar</label>
        <input type="text" class="form-control" id="nykommentar" name="kommentar" placeholder="skriv en kommentar"/>
    </div>
    <div class="form-group">
        <label for="rating">rating</label>
        <input type="text" class="form-control" id="rating" name="rating"placeholder="skriv en rating typ fem"/>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}